<%= @cocktail.name %>
<br>
<ul>
<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %>
  <%= link_to "Delete", dose_path(dose),  method: :delete %></li>
<% end %>
</ul>
<br>
<br>
<% @cocktail.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
<% end %>
<br>

<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail)  %>
<%= link_to "Go to the menu", cocktails_path  %>

